nav{
    display: flex;;
    padding: 1rem 0;
    background-color: lightgrey;
}
body{
    background-color: #fefefe;
    font-family: Playfair Display, sans-serif;
    margin: 0;
    padding: 0;
}
nav a{
    margin-right: 1rem;
    text-decoration: none;
    color: #000;
}   
nav a:hover{
    color: #fff;
    background-color: #000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
body{
    font-family: Playfair Display, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}
h2{
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}
p{
    font-size: 14pt;
    margin: 1rem 0;
    justify-content: wrap;
}
img{
    width: 100%;
    height: auto;
}
```